[submodule "playbooks/orchestration/bmra-current"]
	path = playbooks/orchestration/bmra-current
	url = https://github.com/intel/container-experience-kits.git
        branch = release-v2.0
[submodule "playbooks/orchestration/openness-current"]
	path = playbooks/orchestration/openness-current
	url = https://github.com/open-ness/openness-experience-kits.git
